<!-- FORM TO CREATE TODOS -->
<div data-ng-include src="'views/header.html'"></div>

<div id="post-form">
		<form name="myForm" novalidate>
			<div class="col-md-6 form-group">
			<h2>Post An Item</h2>
				<input validator="required" type="text" class="form-control input-lg text-center" placeholder="Title" ng-model="formData.title">
				<textarea validator="required" type="text" name="text" class="form-control input-lg text-center" placeholder="Content" ng-model="formData.content"></textarea>

				<div ng-show="formData.$submitted || formData.text.$touched">
			      <span ng-show="form.text.$error.required">Tell us your email.</span>
			      <span ng-show="form.text.$error.email">This is not a valid email.</span>
			    </div>

				<input validator="required" type="text" class="form-control input-lg text-center" placeholder="Location" ng-model="formData.location">
				<input  type="file" ng-file-select="onFileSelect($files)" multiple> 

				<select validator="required" ng-model="formData.community">
				  <option ng-repeat="co in com" value="{{co._id}}">{{co.title}}</option>
				</select> 

				<h3>I want to:</h3>
				<div class="typeGroup">
					<a ng-click="type(1)" class="sellit col-xs-6 col-md-3 btn btn-primary btn-lg">Sell It</a>
					<a ng-click="type(0)" class="tradeit col-xs-6 btn btn-primary btn-lg col-md-3 col-md-offset-1">Trade It</a>
				</div>
				<input type="number" class="hideForm form-control input-lg text-center" placeholder="Price" ng-model="formData.price">

				<button validation-submit="myForm" type="submit" ng-disabled="form.text.$dirty" class="btn btn-primary btn-lg" ng-click="createpost()">Add Post</button>
			</div>



		</form>
		<div class="col-md-5 images">
		<div class="row">
		<h2 class="imageTitle">Uploaded Images</h3>
			<div ng-if="formData.images != null">
				<img class="col-md-3" ng-repeat="image in formData.images" src="{{image}}">
			</div>

			<div ng-if="formData.images==null">
				<p>No Images Uploaded</p>
			</div>
		</div>
		</div>
</div>
