<!-- FORM TO CREATE TODOS -->
<div id="post-form">
		<form>
			<div class="col-md-6 form-group">
				<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
				<input required type="text" class="form-control input-lg text-center" placeholder="Title" ng-model="formData.title">
				<textarea required type="text" class="form-control input-lg text-center" placeholder="Content" ng-model="formData.content"></textarea>
				<input required type="text" class="form-control input-lg text-center" placeholder="Location" ng-model="formData.location">
				<input required type="number" class="form-control input-lg text-center" placeholder="Price" ng-model="formData.price">
				<input required type="file" ng-file-select="onFileSelect($files)" multiple> 
				<button type="submit" class="btn btn-primary btn-lg" ng-click="createpost()">Add Post</button>
			</div>

		</form>
		<div class="col-md-5 images">
		<div ng-if="formData.images != null"class="row">
		<h3 class="imageTitle">Uploaded Images</h3>
		<img class="col-md-3" ng-repeat="image in formData.images" src="{{image}}">
		</div>
		</div>
</div>