<!-- FORM TO CREATE TODOS -->
		<div id="post-form">
				<form>
					<div class="form-group">
						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input required type="text" class="form-control input-lg text-center" placeholder="Title" ng-model="formData.title">
						<input required type="text" class="form-control input-lg text-center" placeholder="Content" ng-model="formData.content">
						<input required type="number" class="form-control input-lg text-center" placeholder="Price" ng-model="formData.price">
  						<input required type="file" ng-file-select="onFileSelect($files)" multiple> 
					</div>

					<button type="submit" class="btn btn-primary btn-lg" ng-click="createpost()">Add</button>

				</form>
				<div class="images">
				<img ng-repeat="image in formData.images" src="{{image}}">
				</div>
		</div>