<!-- FORM TO CREATE TODOS -->
<div data-ng-include src="'views/header.html'"></div>

<div id="post-form">
		<form>
			<div class="col-md-6 form-group">
			<h2>Post An Item</h2>
				<input required type="text" class="form-control input-lg text-center" placeholder="Title" ng-model="formData.title">
				<input required type="text" class="form-control input-lg text-center" placeholder="Content" ng-model="formData.content">
				<input required type="text" class="form-control input-lg text-center" placeholder="Zip" ng-model="formData.zip">

				<button type="submit" class="btn btn-primary btn-lg" ng-click="create()">Add Post</button>

		
			</div>

		</form>
</div>