        <header id="header" class="container-fluid">
            <div ng-if="user.error != 'Please Log In'" class="row">
            	<div class="col-xs-4 col-md-3 logo">
            	<a href="#/"><img src="images/logo.png" /></a>
            	</div>

            	<h4 ng-if="community.info!=''" class="col-md-5 mobileHide community">{{communityinfo.title}}</h4>

            	<div class="userInfo mobileHide pull-right col-md-4 col-xs-8">
            		 <a class="avatar" href="#/profile/{{user._id}}"><img src="{{user.profilepicture}}"></a>
            		 <a href="/logout"><i class="fa fa-power-off"></i> Logout</a>
            		 <a class="postIcon" href="#/post"><i class="fa fa-plus-square-o"></i> Post</a>
                 <div class="searchContain">
                 <a class="postIcon" ng-click="showSearch()"><i class="fa fa-search"></i> Search</a>
                 <div style="display:none" class="search" ng-controller="mainController">
                    <input type="text" ng-model="search">
                    <button ng-click="searchButton()">Search</button>
                  </div>
                 </div>
                 <a ng-click="showMessageBox()" class="postIcon"><i class="fa fa-envelope"></i> {{messages.unread.length}} Messages</a>
            	</div>

            	<div class="userInfo desktopHide pull-right col-md-3 col-xs-7">
            	  <a ng-click="menuClick()" class="mobileMenu pull-right"><i class="fa fa-bars"></i></a>
            		<a class="avatar" href="#/profile/{{user._id}}"><img src="{{user.profilepicture}}"></a>

            		<ul class="mobileNav">
            			<li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
            		 	<li><a href="#/post"><i class="fa fa-plus-square-o"></i> Post</a></li>
                  <li><a class="postIcon" href="#/profile/{{user._id}}"><i class="fa fa-male"></i> Profile</a></li>
            		</ul>
            	</div>

            </div>

            <div ng-if="user.error == 'Please Log In'" class="row">
            	<div class="col-xs-4 col-md-3 logo">
            	<a href="#/"><img class="userPic" src="images/logo.png" /></a>
            	</div>

              <h4 ng-if="community.info!=''" class="col-md-4 mobileHide community">{{communityinfo.title}}</h4>

            	<div class="mobileHide pull-right col-md-4 col-xs-8">
            		<a href="#/signin"><i class="fa fa-users"></i> Login</a>
            		<a class="postIcon" href="#/signup"><i class="fa fa-child"></i> Signup</a>
                <div class="searchContain">
                 <a class="postIcon" ng-click="showSearch()"><i class="fa fa-search"></i> Search</a>
                 <div style="display:none" class="search" ng-controller="mainController">
                    <input type="text" ng-model="search">
                    <button ng-click="searchButton()">Search</button>
                  </div>
                </div>
            	</div>

              <div class="userInfo desktopHide pull-right col-md-3 col-xs-7">
                <a ng-click="menuClick()" class="mobileMenu pull-right"><i class="fa fa-bars"></i></a>

                <ul class="mobileNav">
                  <li><a href="#/signin"><i class="fa fa-users"></i> Login</a></li>
                  <li><a class="postIcon" href="#/signup"><i class="fa fa-child"></i> Signup</a></li>
                  <li>
                  <div class="searchContain pull-left">
                    <a class="postIcon" ng-click="showSearch()"><i class="fa fa-search"></i> Search</a>
                    <div style="display:none" class="search" ng-controller="mainController">
                      <input type="text" ng-model="search">
                      <button ng-click="searchButton()">Search</button>
                    </div>
                  </div>
                  </li>
                </ul>
              </div>

            </div>


        </header>