<div data-ng-include src="'views/header.html'"></div>
<div scroller="" loading-method="loadMore()" class="listContain">
	<div  class="item col-md-3 col-xs-12"  ng-repeat="post in posts | filter:searchText">
		<div class="contain">
			<div class="col-md-5">
				<a href="#/post/{{post._id}}"><img src="{{post.images[0]}}" /></a>
			</div>
			<div class="col-md-7 ">
				<h3><a href="#/post/{{post._id}}">{{ post.title }}</a></h3>
				<p ng-if="post.price!='trade'" class="price">{{post.price | currency:"$"}}</p>
				<p ng-if="post.price=='trade'" class="price tradeprice">Trade</p>
			</div>

			<p class="col-xs-12 pull-left content">{{post.content}}</p>

			<div class="pull-left col-xs-12">
				<div class="info col-xs-6"><i class="fa fa-clock-o"></i> <span am-time-ago="post.date"></span></div>
				<span class="commentsTotal col-xs-6"><i class="fa-comments-o fa"></i> {{post.comments.length}}</span>
			</div>
		</div>
	</div>

</div> 

	
