	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>I'm a Todo-aholic <span class="label label-info">{{posts.length}}</span></h1>
		</div>

		<!-- TODO LIST -->
		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				

				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<div class="checkbox" ng-repeat="post in posts">
					<label>
						<input type="checkbox" ng-click="deletepost(post._id)"> {{ post.title }}
						<p>{{post.content}}
						<p>{{post.user.local.email}}
						<p>{{post.price}}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

		<H2>{{user.local.email}}</H2>

		<!-- FORM TO CREATE TODOS -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Title" ng-model="formData.title">
						<input type="text" class="form-control input-lg text-center" placeholder="Content" ng-model="formData.content">
						<input type="number" class="form-control input-lg text-center" placeholder="Price" ng-model="formData.price">

					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createpost()">Add</button>
				</form>
			</div>
		</div>