<div class="post">
	<div class="col-md-6">

		<div class="col-md-5 col-xs-12 images">
			<ul class="bxslider">
			  <li ng-repeat="image in post.images"><img src="{{image}}" /></li>
			</ul>
		</div>


		<div class="col-md-7 col-xs-12">
			<H2 class="col-xs-12">{{post.title}}</H2>
			<div class="row">
				<div class="col-xs-6 priceContainer">
					<p class="price">{{post.price | currency:"$ "}}</p>
				</div>
				<div class="poster col-xs-6">
					<a href="#/profile/{{post.user._id}}"><img src='{{post.user.profilepicture}}' /></a>
				</div>
			</div>
			<p class="content">{{post.content}}</p>
			<p class="info col-xs-6">{{post.location}}</p>
			<p class="commentsTotal col-xs-6"><i class="fa-comments-o fa"></i> {{comments.length}}</p>
		</div>
	</div>

    
	<div class="commentSection col-md-5 col-md-offset-1">
		<div>
			<h2>Add Comment</h2>
			<form>
				<textarea type="text" class="form-control input-lg text-center" placeholder="Content" ng-model="comment.content"></textarea>
				<h4>Have An Offer?</h4>
				<input type="text" class="offer form-control input-lg text-center" ng-model="comment.offer" placeholder="Offer">
				<button type="submit" class="btn btn-primary btn-lg" ng-click="createComment()">Add Comment</button>
			</form>
		</div>
	</div>


	<div class="allComments col-xs-12">
			<h3>{{comments.length}} Comments</h3>
					
			<div>
				<ul>
				    <li class="comment" data-author="{{comment.user._id}}" ng-repeat="comment in comments"> 
					    <div class="col-xs-4 col-md-1">
					    	<img src="{{comment.user.profilepicture}}" />
					    </div>
					    <div class="col-xs-7 col-md-11 col-xs-offset-1">
					    <h5 ng-if="comment.user._id==post.user._id">Post Author</h5>
					    	<p>{{comment.user.firstName}} says...</p>
					    	<p>{{comment.content}}</p>
					    	<p ng-if="comment.offer!=''" class="offerPrice">{{comment.offer | currency:"$ "}}</p>
					    	<a class="acceptOffer" ng-click="acceptOffer(post._id,comment._id)" ng-if="post.user._id==user._id && comment.offer!=''">Accept Offer</a>
					    </div>
				    </li>
			    </ul>
			</div>
		</div>
</div>
