.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: 'Roboto', sans-serif;
}
img {
  width: 100%;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.item {
  margin-bottom: 20px;
}
.item .contain {
  padding: 13px;
  background-color: #fafafa;
  *zoom: 1;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.item .contain:before,
.item .contain:after {
  display: table;
  content: "";
  line-height: 0;
}
.item .contain:after {
  clear: both;
}
.item .content {
  font-size: 13px;
}
.item .info {
  padding: 0;
}
.item .commentsTotal {
  padding: 0;
  text-align: right;
}
.item img {
  margin-bottom: 10px;
}
.item p {
  float: left;
  clear: left;
}
.item .pull-right {
  clear: both;
}
.item h3 a {
  color: #3A4A59;
}
.item .price {
  color: #000;
  font-weight: 400;
  background-color: #DEF9DA;
  font-family: 'Oswald', sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  *zoom: 1;
  float: left;
  clear: both;
}
.item .price:before,
.item .price:after {
  display: table;
  content: "";
  line-height: 0;
}
.item .price:after {
  clear: both;
}
.row {
  margin: 0;
  padding: 0;
}
header {
  height: 65px;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0px 10px;
  background-color: #3A4A59;
  color: #fff;
  margin-bottom: 20px;
}
header .row {
  padding: 0;
  margin: 0;
  height: 65px;
}
header .postIcon {
  border-right: 0px;
}
header .searchContain {
  position: relative;
  float: right;
}
header .searchContain .search {
  display: none;
  background-color: #3A4A59;
  padding: 10px 20px;
  position: absolute;
  bottom: -80px;
  z-index: 9999;
  right: 0;
}
header .searchContain .search button {
  margin-top: 15px;
}
header a img {
  padding: 0;
  margin: 0;
}
header .avatar {
  *zoom: 1;
  padding: 0 !important;
  margin: 0 !important;
  border: 0px !important;
}
header .avatar:before,
header .avatar:after {
  display: table;
  content: "";
  line-height: 0;
}
header .avatar:after {
  clear: both;
}
header .avatar:hover {
  background: transparent !important;
}
header a {
  border-left: 2px solid #445768;
  border-right: 2px solid #445768;
  padding: 20px 10px;
  color: #fff;
  height: 65px;
  float: right;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
header a i {
  margin-right: 5px;
  font-size: 100%;
}
header a:last-child {
  border-right: 0;
}
header a:hover {
  text-decoration: none;
  background-color: #445768;
  color: #fff;
}
header .userInfo {
  *zoom: 1;
  height: 65px;
}
header .userInfo:before,
header .userInfo:after {
  display: table;
  content: "";
  line-height: 0;
}
header .userInfo:after {
  clear: both;
}
header .userInfo img,
header .userInfo a {
  float: right;
}
header .userInfo img {
  margin-left: 20px;
  margin-top: 9px;
  max-height: 50px;
  max-width: 70px;
  width: auto;
}
h3 {
  padding: 0;
  margin: 0;
}
.logo a {
  background-color: transparent;
  padding: 0;
  padding-left: 10px;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
.logo a:hover {
  background-color: transparent;
}
.logo img {
  max-width: 40px;
}
.logo:hover {
  background-color: transparent;
  border: 0px;
}
#post-form {
  margin: 0px auto;
}
#post-form input,
#post-form textarea {
  margin-bottom: 20px;
}
.signup {
  padding: 0px 20px;
}
.signup input,
.signup textarea {
  margin-bottom: 20px;
  float: left;
  clear: left;
}
.signup img {
  max-width: 150px;
}
.signup button {
  float: left;
  clear: left;
}
.post {
  padding: 0px 20px;
  margin-top: 45px;
}
.post button {
  margin-top: 10px;
}
.post .poster {
  padding: 0;
}
.post .poster img {
  max-width: 50px;
  float: right;
}
.post .content {
  margin-bottom: 30px;
}
.post .col-md-6 {
  *zoom: 1;
}
.post .col-md-6:before,
.post .col-md-6:after {
  display: table;
  content: "";
  line-height: 0;
}
.post .col-md-6:after {
  clear: both;
}
.post img {
  margin-bottom: 15px;
}
.post .row {
  padding: 0;
}
.post .info {
  padding: 0;
}
.post .commentsTotal {
  padding: 0;
  text-align: right;
}
.post .priceContainer {
  padding: 0;
}
.post h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.post .price {
  color: #000;
  font-weight: 400;
  background-color: #DEF9DA;
  font-family: 'Oswald', sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 12px;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 15px;
}
.post h3 {
  margin-bottom: 20px;
}
.post form {
  margin-bottom: 20px;
}
.post img {
  max-width: 250px;
}
.post ul {
  margin: 0;
  padding: 0;
}
.post li {
  list-style: none;
}
.comment {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  background-color: #fafafa;
  padding: 15px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.commentSection textarea {
  margin-bottom: 20px;
}
.commentSection .offer {
  max-width: 10em;
  width: 10em;
  margin-bottom: 20px;
}
input,
textarea {
  max-width: 600px;
}
.allComments {
  margin-top: 60px;
  *zoom: 1;
  float: left;
}
.allComments:before,
.allComments:after {
  display: table;
  content: "";
  line-height: 0;
}
.allComments:after {
  clear: both;
}
.allComments .offerPrice {
  color: #000;
  font-weight: 400;
  background-color: #ECC2D6;
  font-family: 'Oswald', sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  *zoom: 1;
  float: left;
  clear: both;
}
.allComments .offerPrice:before,
.allComments .offerPrice:after {
  display: table;
  content: "";
  line-height: 0;
}
.allComments .offerPrice:after {
  clear: both;
}
.allComments .acceptOffer {
  color: #000;
  font-weight: 400;
  background-color: #DEF9DA;
  font-family: 'Oswald', sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  *zoom: 1;
  float: left;
  margin-left: 20px;
}
.allComments .acceptOffer:before,
.allComments .acceptOffer:after {
  display: table;
  content: "";
  line-height: 0;
}
.allComments .acceptOffer:after {
  clear: both;
}
.allComments .acceptOffer:hover {
  background-color: #90eb82;
  text-decoration: none;
}
.fileUpload {
  float: left;
  clear: left;
}
.imageTitle {
  margin-bottom: 20px;
}
.community {
  margin-top: 20px;
  text-align: center;
}
.mobileMenu {
  margin-right: -25px;
  border-left: 0;
  padding-left: 15px;
  margin-left: 5px;
}
.mobileNav {
  display: none;
  background-color: #445768;
  color: #000;
  position: absolute;
  right: -10px;
  top: 64px;
  z-index: 200;
  padding: 0;
  margin: 0;
  width: 200px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
.mobileNav li {
  float: left;
  width: 100%;
  list-style: none !important;
}
.mobileNav li a {
  float: left;
  width: 100%;
  display: block;
  border: none;
  height: auto;
  padding: 15px 20px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
.bx-wrapper .bx-viewport {
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}
.content {
  margin-bottom: 15px;
}
#bx-pager a {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.profile {
  padding: 0px 10px;
}
.profile .editProfile {
  margin-bottom: 10px;
  width: 100%;
  display: block;
}
.profile img {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  max-width: 200px;
  margin: 0px auto;
  display: block;
}
.profile .profileButton {
  padding: 10px 25px;
  background-color: #eefcec;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #000;
  margin: 0px auto;
  margin-top: 20px;
  display: block;
  width: 80%;
}
.profile .info {
  text-align: center;
}
.profile .comments {
  float: left;
}
.profile .comments .comment {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.profile .stats {
  clear: none !important;
  padding-right: 10px;
  padding-left: 10px;
  width: 120px;
  float: left;
  background-color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.profile .stats span,
.profile .stats p {
  float: left;
  clear: left;
  display: inline;
  text-align: center;
  width: 100%;
}
.profile .stats p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
.profile .stats span {
  font-weight: 400;
}
.profile .additionalInfo {
  float: left;
}
.profile .additionalInfo h2 {
  margin-top: 10px;
}
.profile .totalStats {
  margin-top: 20px;
  width: 100%;
  background-color: #fafafa;
  *zoom: 1;
  display: inline-block;
  padding: 12px 20px;
}
.profile .totalStats:before,
.profile .totalStats:after {
  display: table;
  content: "";
  line-height: 0;
}
.profile .totalStats:after {
  clear: both;
}
.profile .stats:last-child {
  clear: both;
}
.edit {
  padding: 0px 20px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.edit label {
  float: left;
  clear: left;
}
.edit img {
  max-width: 100px;
  float: left;
  clear: left;
  margin-bottom: 40px;
}
.edit input {
  float: left;
  clear: left;
  margin-bottom: 20px;
}
.edit input[type='file'] {
  clear: none;
  margin-top: 40px;
}
.edit button,
.edit a {
  float: left;
  clear: left;
}
.profilePosts {
  margin-top: 20px;
  *zoom: 1;
}
.profilePosts:before,
.profilePosts:after {
  display: table;
  content: "";
  line-height: 0;
}
.profilePosts:after {
  clear: both;
}
.profileComments {
  *zoom: 1;
}
.profileComments:before,
.profileComments:after {
  display: table;
  content: "";
  line-height: 0;
}
.profileComments:after {
  clear: both;
}
.modal-open {
  margin-right: 0 !important;
}
.singleMessage,
.backButton {
  display: none;
}
@media (min-width: 990px) {
  .desktopHide {
    display: none;
  }
}
@media (max-width: 900px) {
  .commentSection {
    margin-top: 60px;
  }
  .post {
    padding: 0;
  }
  .contain .col-md-7,
  .contain .col-md-5 {
    padding: 0;
  }
}
@media (max-width: 990px) {
  .mobileHide {
    display: none;
  }
  .profile .stats {
    width: 40%;
  }
  .profile .stats p {
    font-size: 16px;
  }
  .profile .stats span {
    font-size: 11px;
  }
}
