.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: 'Roboto', sans-serif;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.item {
  margin-bottom: 20px;
}
.item .contain {
  padding: 13px;
  background-color: #fafafa;
  *zoom: 1;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.item .contain:before,
.item .contain:after {
  display: table;
  content: "";
  line-height: 0;
}
.item .contain:after {
  clear: both;
}
.item img {
  margin-bottom: 10px;
}
.item p {
  float: left;
  clear: left;
}
.item .pull-right {
  clear: both;
}
.item .price {
  color: #000;
  font-weight: 400;
  background-color: #DEF9DA;
  font-family: 'Oswald', sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  *zoom: 1;
  float: left;
  clear: both;
}
.item .price:before,
.item .price:after {
  display: table;
  content: "";
  line-height: 0;
}
.item .price:after {
  clear: both;
}
.row {
  margin: 0;
  padding: 0;
}
header {
  height: 65px;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0px 10px;
  background-color: #3A4A59;
  color: #fff;
  margin-bottom: 20px;
}
header .row {
  padding: 0;
  margin: 0;
  height: 65px;
}
header .postIcon {
  border-right: 0px;
}
header a {
  border-left: 2px solid #445768;
  border-right: 2px solid #445768;
  padding: 20px 10px;
  color: #fff;
  height: 65px;
  float: right;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
header a i {
  margin-right: 5px;
  font-size: 100%;
}
header a:last-child {
  border-right: 0;
}
header a:hover {
  text-decoration: none;
  background-color: #445768;
  color: #fff;
}
header .userInfo {
  *zoom: 1;
  height: 65px;
}
header .userInfo:before,
header .userInfo:after {
  display: table;
  content: "";
  line-height: 0;
}
header .userInfo:after {
  clear: both;
}
header .userInfo img,
header .userInfo a {
  float: right;
}
header .userInfo img {
  margin-left: 20px;
  margin-top: 5px;
  max-height: 50px;
  width: auto;
}
h3 {
  padding: 0;
  margin: 0;
}
.logo {
  background-color: transparent;
  padding: 0;
  padding-left: 25px;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo img {
  max-width: 40px;
}
.logo:hover {
  background-color: transparent;
  border: 0px;
}
#post-form {
  margin: 0px auto;
}
#post-form input,
#post-form textarea {
  margin-bottom: 20px;
}
.signup {
  padding: 0px 20px;
}
.signup input,
.signup textarea {
  margin-bottom: 20px;
  float: left;
  clear: left;
}
.signup img {
  max-width: 150px;
}
.signup button {
  float: left;
  clear: left;
}
.post {
  padding: 0px 20px;
  margin-top: 45px;
}
.post button {
  margin-top: 10px;
}
.post h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.post .price {
  color: #000;
  font-weight: 400;
  background-color: #DEF9DA;
  font-family: 'Oswald', sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  font-size: 17px;
  margin-bottom: 20px;
}
.post h3 {
  margin-bottom: 20px;
}
.post form {
  margin-bottom: 20px;
}
.post img {
  max-width: 200px;
}
.post ul {
  margin: 0;
  padding: 0;
}
.post li {
  list-style: none;
}
.comment {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  background-color: #fafafa;
  padding: 15px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.commentSection {
  margin-top: 70px;
}
.commentSection textarea {
  margin-bottom: 20px;
}
.commentSection .offer {
  max-width: 10em;
  width: 10em;
  margin-bottom: 20px;
}
.commentSection .allComments {
  margin-top: 60px;
  *zoom: 1;
}
.commentSection .allComments:before,
.commentSection .allComments:after {
  display: table;
  content: "";
  line-height: 0;
}
.commentSection .allComments:after {
  clear: both;
}
.commentSection .allComments .offerPrice {
  color: #000;
  font-weight: 400;
  background-color: #ECC2D6;
  font-family: 'Oswald', sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  *zoom: 1;
  float: left;
  clear: both;
}
.commentSection .allComments .offerPrice:before,
.commentSection .allComments .offerPrice:after {
  display: table;
  content: "";
  line-height: 0;
}
.commentSection .allComments .offerPrice:after {
  clear: both;
}
.commentSection .allComments .acceptOffer {
  color: #000;
  font-weight: 400;
  background-color: #DEF9DA;
  font-family: 'Oswald', sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  *zoom: 1;
  float: left;
  margin-left: 20px;
}
.commentSection .allComments .acceptOffer:before,
.commentSection .allComments .acceptOffer:after {
  display: table;
  content: "";
  line-height: 0;
}
.commentSection .allComments .acceptOffer:after {
  clear: both;
}
.commentSection .allComments .acceptOffer:hover {
  background-color: #90eb82;
  text-decoration: none;
}
input,
textarea {
  max-width: 600px;
}
.fileUpload {
  float: left;
  clear: left;
}
.imageTitle {
  margin-bottom: 20px;
}
.community {
  margin-top: 20px;
  text-align: center;
}
.mobileMenu {
  margin-right: -25px;
  border-left: 0;
  padding-left: 15px;
  margin-left: 5px;
}
.mobileNav {
  display: none;
  background-color: #3A4A59;
  color: #000;
  position: absolute;
  right: -10px;
  top: 60px;
  z-index: 200;
  padding: 0;
  margin: 0;
  width: 200px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
.mobileNav li {
  float: left;
  width: 100%;
  list-style: none !important;
}
.mobileNav li a {
  float: left;
  width: 100%;
  display: block;
  border: none;
  height: auto;
  padding: 15px 20px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}
@media (min-width: 600px) {
  .desktopHide {
    display: none;
  }
}
@media (max-width: 600px) {
  .mobileHide {
    display: none;
  }
}
